<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meal Plans</title>
</head>
<body>
<h1>Meal Plans</h1>
<ul>
    <li th:each="mealplan : ${mealplans}">
        <span th:text="${mealplan.name}">Meal Plan Name</span>
    </li>
</ul>
<a th:href="@{/mealplans/new}">New Meal Plan</a>
</body>
</html>
