<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipes</title>
</head>
<body>
<h1>Recipes</h1>
<ul>
    <li th:each="recipe : ${recipes}">
        <span th:text="${recipe.name}">Recipe Name</span>:
        <span th:text="${recipe.description}">Recipe Description</span>
    </li>
</ul>
<a th:href="@{/recipes/new}">New Recipe</a>
</body>
</html>
